body {}

h2 {
  text-align: left;
}

header {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 1em
}

header button {
  background-color: lightblue;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: center;
  transition: all 0.6s;
  cursor: pointer;
}

header button:hover {
  background-color: #3654ff;
}

.content {
  display: grid;
  border: #3654ff 0.2em solid;
  justify-items: center;
  border-radius: 8px;
  margin-left: 20vw;
  margin-right: 20vw;
  gap: 8px;
  padding: 1rem;
}

.menuCard {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  text-align: left;
  padding: 1rem;
  border: 1px solid black;
}

.menuCard h2 {
  grid-col: 1 / 2;
  grid-row: 1 / 2;
  align-self: self-end;
}

.menuCard p {
  grid-col: 1 / 2;
  grid-row: 2 / 3;
}

.menuCard div {
  grid-col: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}

.placeholderImage {
  width: 64px;
  height: 64px;
  border: 1px solid black;
}

.contact-container {
  display: grid;
  justify-items: center;
  gap: 8px;
}

.contact-card {
  display: grid;
  justify-items: center;
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 1em;
}

.contact-card h2 {
  justify-self: left;
}

.contact-container h1 {
  text-align: center;
}
